*{
    margin: 0;
    padding: 0;
}
.fondo{
    width: 100%;
    position: absolute;
    background-color: #5690FF;
    height: 50vh;
    border-radius: 0px 0px 100px 100px;
}
.circulo{
    position: absolute;
    bottom: -20%;
    left: 30%;
    height: 130px;
    width: 130px;
    background-color: red;
    border-radius: 50%;
    background-color: #F9F9F9;
}
.titulo{
        font-size: 40px;
        font-weight: bolder;
        color:#404040;
        position: absolute;
        bottom: -35%;
        left: 25%;
}
.titulo span{
    color: #FF6767;
}