<div class="pantalla_inicio">
            <div class="header_screen">
                <h2>Proyecto ESP + BMP280</h2>
            </div>
            <div class="body_screen">
                <div class="cards">
                    <div class="card bg_main">
                        <div class="top_card">
                            Sensor BME 280
                        </div>
                        <div class="card_title">
                            Temperatura
                        </div>
                        <div class="card_data">
                            60 C°
                        </div>
                    </div>
                    <div class="card bg_danger">
                        <div class="top_card">
                            Sensor BME 280
                        </div>
                        <div class="card_title">
                            Humedad
                        </div>
                        <div class="card_data">
                            20 %
                        </div>
                    </div>
                    <div class="card bg_default">
                        <div class="top_card">
                            Sensor BME 280
                        </div>
                        <div class="card_title">
                            Temperatura
                        </div>
                        <div class="card_data">
                            1200 PA
                        </div>
                    </div>
                </div>
                
                <div class="last_update">
                    <p>Ultima actualización: 10:02 AM 9/11/2022</p>
                </div>
            </div>
        </div>