<div class="pantalla_inicio">
    <div class="bg_svg">
        <img src="assets/img/fondo.svg">
    </div>
    <div class="row h-150">
        <div class="w-80 visible capa" data-num="1">
            <div class="titulo">
                Comparte tus proyectos <bold>facilmente</bold>
            </div>
            <div class="desc">
                Obtén control de tus datos y aprende rápidamente.
            </div>
        </div>
        <div class="w-80 capa" data-num="2">
            <div class="titulo">
                Sube tu proyecto a la <bold> nube </bold> en pocos pasos.
            </div>
            <div class="desc">
                Obtén control de tus datos y aprende rápidamente.
            </div>
        </div>
        <div class="w-80 capa" data-num="3">
            <div class="titulo">
                Comparte tus proyectos <bold>facilmente</bold>
            </div>
            <div class="desc">
                Obtén control de tus datos y aprende rápidamente.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w-80 bottom_div">
            <div class="steps">
                <div class="step active" data-num="1"> </div>
                <div class="step" data-num="2"> </div>
                <div class="step" data-num="3"> </div>
            </div>
            <div class="next_btn_border">
                <div class="next_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path d="M16.7063 10.7063C17.0969 10.3156 17.0969 9.68127 16.7063 9.29065L11.7063 4.29065C11.3156 3.90002 10.6813 3.90002 10.2906 4.29065C9.9 4.68127 9.9 5.31565 10.2906 5.70627L13.5875 9.00002H4C3.44687 9.00002 3 9.4469 3 10C3 10.5531 3.44687 11 4 11H13.5844L10.2937 14.2938C9.90312 14.6844 9.90312 15.3188 10.2937 15.7094C10.6844 16.1 11.3188 16.1 11.7094 15.7094L16.7094 10.7094L16.7063 10.7063Z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>