@keyframes swap{
    0%   {left: 200%;}
    100% {left: 0%;}
}
@keyframes BigToSmall {
    0%{
        width: 10px;
    }
    100%{
        width: 30px;
    }
}
@keyframes SmallToBig {
    0%{
        width: 30px;
    }
    100%{
        width: 10px;
    }
}
@keyframes RigthToLeft {
    0%{
        left: 100%;
    }
    100%{
        left: 10%;
    }
}
@keyframes LeftToRigth {
    0%{
        left: 100%;
    }
    100%{
        left: 10%;
    }
}
@keyframes ShowScreen {
    0%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}